* {
  margin: 0;
  padding: 0;
}

/* Dashboard Page */

.navbar{
   display: flex;
   margin-left: 15%;
   margin-top: 2%;
   padding: 0% 10%;
   justify-content: space-between;
   align-items: center;
   place-items: center;
   height: 10vh;
   width: 80%;
   color: black;
}

.navbar h1{
    font-size: 1.5rem;
    
}

.nav-icons{
    font-size: 1.5rem;
}


#menu{
  visibility: hidden;
}

.container1{
    display: flex;
    height:100vh;
}

.sidebar {
    position: fixed;
    top:0;
    display: grid;
    justify-content: center;
    align-content: start ;
    width: 20vw;
    height: 100vh;
    background-color: rgb(75, 8, 139);
}

.sidebar h3 {
  margin-top: 20%;
  padding-top: 5%;
  font-size: 1.5rem;
  color:white;
  text-align: center;
}

.sidebar ul {
  margin-top: 33%;
}

.sidebar li {
  list-style-type: none;
  padding: 17% 0%;
}

#side-link {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

#side-icon {
  vertical-align: middle;
  padding-right: 2%;
  font-size: 1.5rem;
  color: white;
}

/* Home Section */

.charts{
    display: grid;
    /* position: relative; */
    margin-top: 11%;
    margin-left: 23%;
    justify-content: center;
    place-items: center;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-right: 8%;
}

.charts h5{
    line-height: 1.5;
    font-weight: 700;
}

/* Team Section */

.table-container,
.client-container {
    display: grid;
    align-content: start;
    width: 80%;
    margin-top: 0%;
    margin-left: 25%;
    height:100vh;
    width: 100%;
    overflow-x: scroll;
    border-radius: 5px;
}

table{
  margin-top: 0.5%;
}


thead {
  background-color: rgb(75, 8, 139);
  padding: 5% 0%;
}

tbody tr{
    padding: 12%;
}

table img{
    height: 7vh;
    border-radius:5px;
    object-fit: center;
}

/* Product Section */

.product-container{
    display: grid;
    justify-content: center;
    width: 50%;
    height:100vh;
    margin-left: 35%;
    z-index: -1;
   
}

.card{
  height: 50vh;
}
.card img{
  height: 20vh;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .navbar{
    align-items: center;
    margin: 2% 0%;
    padding: 0% 10%;
    width:100%;
    height: 18vh;
    background-color: rgb(75, 8, 139);
    color: white
  }

  
  hr{ 
    visibility: hidden;
  }

  .navbar h1{
    font-size: 1rem ;
    margin-top: 1rem;
  }

  span{
    font-size: 1.5rem;
  }

  .text-dark{
    font-size: 1.3rem;
  }

  
  .sidebar{
    width:50vw;
    position: fixed;
    height: 100%;
  }

  #side-link{
    font-size: 0.8rem;
  }

  #side-icon{
    padding-left: 0%;
  }

  .charts{
    display: grid;
    margin-top: 55%;
    margin-left: 14%;
    width: 80%;
    z-index: -1;
    
  }

 
  .charts h5{
    font-size: 1rem;

  }

  /* Team Section */
  .table-container,
  .client-container{
    margin-top: 15%;
    margin-left: 0%;
    justify-content: start;
    padding: 0%;
  }

  #menu{
    visibility: visible;
  }

    /* Product Section */
  .product-container{
    width:100%;
    margin: 0%;
    padding: 0% 5%;
  }

  #nav-icon{
    color: white;
  }



}